{% trans_default_domain 'TravelCarBundle'%}

 <div class="row">
        <div class="col-md-10">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>{{ user.lastname }} {{ user.name }}</h2>
                            <p><strong>{{ 'label.profil.mail'|trans }} </strong> {{ user.email }} </p>
                            <p><strong>{{ 'label.profil.phonenumber'|trans }} </strong> {{ user.phonenumber }}</p>
                            <p><strong> {{ 'label.profil.birthDate'|trans }} </strong> {{ user.birthDate|date('Y-m-d') }}</p>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
                            <ul class="list-inline ratings text-center" title="Ratings">
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            </ul>
                        </div><!--/col-->

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> 20,7K </strong></h2>
                            <p><small>Followers</small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>245</strong></h2>
                            <p><small>Following</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>43</strong></h2>
                            <p><small>Snippets</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
                        </div><!--/col-->
                    </div><!--/row-->
                </div><!--/panel-body-->
            </div><!--/panel-->



        </div>
 </div>

