{% trans_default_domain 'TravelCarBundle'%}

 <div class="row">
        <div class="col-md-10">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>{{ user.lastname }} {{ user.name }}</h2>
                            <p><strong>{{ 'label.profil.mail'|trans }} </strong> {{ user.email }} </p>
                            <p><strong>{{ 'label.profil.phonenumber'|trans }} </strong> {{ user.phonenumber }}</p>
                            <p><strong> {{ 'label.profil.birthDate'|trans }} </strong> {{ user.birthDate|date('Y-m-d') }}</p>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4 text-center">
                            {% if user.img is not empty %}
                                <img src="{{ asset('/uploads/avatars/' ~ user.img) }}" alt="" class="center-block img-circle img-responsive">
                            {% else %}
                                <img src="{{ asset('assets/img/profile.png') }}" alt="" class="center-block img-circle img-responsive">
                            {% endif %}
                            <ul class="list-inline ratings text-center" title="Ratings">
                                <li><span class="fa fa-star fa-lg"></span></li>
                                <li><span class="fa fa-star fa-lg"></span></li>
                                <li><span class="fa fa-star fa-lg"></span></li>
                                <li><span class="fa fa-star fa-lg"></span></li>
                                <li><span class="fa fa-star fa-lg"></span></li>
                            </ul>
                        </div><!--/col-->
                        <br><br><br><br><br><br><br><br><br><br><br>
                        <div class="col-xs-12 col-sm-4">
                            <a href="{{ path('my_reservations',{'mode':'block'}) }}">
                                <button class="btn btn-success btn-block"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    {{ 'label.advert.your_reservations'|trans }}
                                </button>
                            </a>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <a href="{{ path('my_adverts',{'mode':'block','page':1, 'numberPerPage':5}) }}">
                                <button class="btn btn-info btn-block"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    {{ 'label.advert.your_adverts'|trans }}
                                </button>
                            </a>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <a href="{{ path('my_vehicles') }}">
                                <button type="button" class="btn btn-primary btn-block"><span class="fa fa-car"></span>
                                    {{ 'label.vehicle.your_vehicles'|trans }}
                                </button>
                            </a>
                        </div><!--/col-->
                    </div><!--/row-->
                </div><!--/panel-body-->
            </div><!--/panel-->
        </div>
 </div>

