<div class="thumbnail">
    <div class="row">
        <div class="col-md-8">
            <h3>{{ annonce.villeDep }} <small><span class="glyphicon glyphicon-arrow-right"></span></small> {{ annonce.villeArriv }}</h3>
        </div>
        <div class="col-md-4">
                <h2>{{ annonce.personne.nom }}</h2>
        </div>
    </div>
    <hr/>
    <hr/>
    <h3> <i class="fa fa-map-signs text-primary" aria-hidden="true"></i> Itinéraire</h3>
    <hr/>
    <div class="">
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.ville.dep'|trans({},'TravelCarAnnonceBundle')}}</small>
            </div>
            <div class="col-md-8">
                <small><span class="glyphicon glyphicon-record text-primary"></span> RDV à {{ annonce.villeDep }} </small>
            </div>    
        </div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.ville.arriv'|trans({},'TravelCarAnnonceBundle')}}</small>
            </div>
            <div class="col-md-8">
                <small><span class="glyphicon glyphicon-record text-danger"></span> {{ annonce.villeArriv }} </small>
            </div>    
        </div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.date.dep'|trans({},'TravelCarAnnonceBundle')}}</small>
            </div>
            <div class="col-md-8">
                <small > <span class="glyphicon glyphicon-calendar text-primary"></span> {{ annonce.dateDep.format('d/m/Y') }} à {{ annonce.heureDep }} </small>
            </div>    
        </div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.annonce.temps_trajet'|trans({},'TravelCarAnnonceBundle')}}</small>
            </div>
            <div class="col-md-8">
                <small>{{ annonce.tempsTrajet.format('h:m') }}</small>
            </div>    
        </div>
    </div>
    <h3> <i class="fa fa-car text-danger" aria-hidden="true"></i> Voiture</h3>
    <hr/>
    <div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.annonce.voiture.modele'|trans({},'TravelCarAnnonceBundle')}}</small>
            </div>
            <div class="col-md-8">
                <small>{{ annonce.voiture.modele }}</small>
            </div>    
        </div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.annonce.voiture.couleur'|trans({},'TravelCarAnnonceBundle')}}</small>
            </div>
            <div class="col-md-8">
                <small>{{ annonce.voiture.couleur }}</small>
            </div>    
        </div>
    </div>
</div>
<div class="thumbnail">
    <h3>Poser une question</h3>
    <hr/>

    <div id='zone_commentaire' class='form-group'>
        <form id="form_comment" action='#' method='post'>
            {%if comment is defined %}
                {%if comment == 1 %}
                    <textarea name="comment" class="form-control" rows="5" id="comment"></textarea> 
                {% else%}
                    <textarea placeholder="commentaire incorrect" name="comment" class="form-control" rows="5" id="comment"></textarea>
                {%endif%}
            {% else%}
                <textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
            {%endif%}

        </form>
    </div>
</div>