
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- permet de parametrer le responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - TravelCar</title>
        
        
        
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Theme CSS -->
        {% set style = app.request.session.get('style') %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if style is defined and style == "classic" %}
                <link href="{{ asset('assets/css/classic.css')}}" rel="stylesheet">
            {% else %}
                <link href="{{ asset('assets/css/default.css')}}" rel="stylesheet">
            {% endif %}
        {% else %}
            <link href="{{ asset('assets/css/default.css')}}" rel="stylesheet">
        {% endif %}


        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/annonce.css')}}">
    
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.datetimepicker.css')}}">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/navbarAnim.css')}}">
        
    <!-- Custom Fonts -->
    <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include '::navbar.html.twig' %}
        

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header id="header" class="intro-header" style="">
        <div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{% block header_heading %}{% endblock %}</h1>
                        <hr class="small">
                        
                            <div id="subheading" class="row">
                                {% block header_subheading %}{% endblock %}
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
        

        <!-- Main Content -->
        <div class="container">
            
            {% block body %}{% endblock %}
            {{ render(controller('TravelCarBundle:TravelCar:loadRss')) }}
        </div>


        <!-- Footer -->
        <footer>
            <div class="container">
                {#{%  include 'TravelCarBundle:Default:TravelCar/ContaintsUsed/language.html.twig' %}#}
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="{{ path('travel_car_language', {'local': 'fr' }) }}">
                                    <span class="fa-stack fa-lg">
                                        <img src="{{ asset("/assets/img/drapeau_france.png") }} " alt="" class="center-block img-circle img-responsive"/>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('travel_car_language', {'local': 'en' }) }}">
                                    <span class="fa-stack fa-lg">
                                        <img src="{{ asset("/assets/img/drapeau_angleterre.jpg") }} " alt="" class="center-block img-circle img-responsive"/>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; {{'now'|date('Y')}} Daniel Anasse </p>
                    </div>
                </div>
            </div>
        </footer>

                
        <!-- jQuery UI libray -->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

        <!-- jQuery -->
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

        <!-- JSBundle -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Theme JavaScript -->
        <script src="{{ asset('assets/js/clean-blog.min.js') }}"></script>
    
        <!-- Datetimepiker -->
        <script src="{{ asset('assets/js/jquery.datetimepicker.full.js') }}"></script>

        <script src="{{ asset('assets/js/navbarAnim.js') }}"></script>

        <script src="{{ asset('assets/js/typehead.js') }}"></script>

        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

        <script type="text/javascript" src="{{ asset('assets/js/expose.js') }}"></script>

        <script type="text/javascript">
            $.datetimepicker.setLocale('fr');
            $('.form_date').datetimepicker({
                mask:'19/39/9999',
                format:'d/m/Y',
                timepicker:false,
                minDate:'0'
            });


            $('.timePicker').datetimepicker({
                mask:'29:59',
                format:'H:m',
                datepicker: false
            });
        </script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
