{% trans_default_domain 'TravelCarBundlePersonne' %}
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">TravelCar</span>
                    <i class="fa fa-bars"></i>
                </button>
                <img style='position: absolute' width='10%' src='{{asset('img/logo.png')}}' />
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{path('home')}}">{{'navbar.home'|trans}}</a>
                    </li>
                    <li>
                        <a href="#">{{'navbar.about'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{path('add_advert')}}">{{'navbar.submitARoute'|trans}}</a>
                    </li>
                    <li>
                        {%if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('fos_user_security_logout')}}">{{'text.signOut'|trans}}</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login')}}">{{'ext.signIn'|trans}}</a></li>
                        {%endif%}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>