{% trans_default_domain 'TravelCarBundle' %}
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">TravelCar</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a href="{{path('home')}}"><img style='position: absolute' width='140px' src='{{asset('assets/img/logo.png')}}' /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{path('home')}}">{{'label.home'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{path('tc_travelcarbundle_about')}}">{{'label.about'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{path('add_advert')}}">{{'label.submitARoute'|trans}}</a>
                    </li>
                    <li>
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('fos_user_security_login')}}">{{'label.signIn'|trans}}</a>
                        {% endif %}
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img style='margin: 0px;width: 20px;' src="{{asset(img|default('assets/img/profile.png'))}}">
                            </a>
                            <ul class="dropdown-menu">
                              <li>
                                    <a href="{{path('fos_user_profile_show')}}" class="animate">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="desc animate"> {{ 'label.presentation.my_profil'|trans }}</span>
                                    </a>
                              </li>
                              <li>
                                  <a href="{{ path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-off"></span> {{'label.signOut'|trans}}</a>
                              </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>