{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'TravelCarBundle' %}

{% block title %}{{ 'label.presentation.my_car'|trans }}{% endblock %}

{% block fos_user_content %}
    <h1>{{ 'label.presentation.my_car'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'label.vehicle.idNumber'|trans }}</th>
                <td>{{ vehicle.idNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'label.vehicle.model'|trans }}</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>{{ 'label.vehicle.color'|trans }}</th>
                <td>{{ vehicle.color }}</td>
            </tr>
            <tr>
                <th>{{ 'label.vehicle.fuel'|trans }}</th>
                <td>{{ vehicle.fuel }}</td>
            </tr>
        </tbody>
    </table>
    <br><br><br><br>
    <div class="row text-center">
        <div class="btn-group ">
            <a href="{{ path('my_vehicles') }}" type="button" class="btn btn-info">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                {{ 'label.presentation.back_to_list'|trans }}
            </a>
            <a href="{{ path('vehicle_edit', { 'id': vehicle.idNumber }) }}" type="button" class="btn btn-info">
                <i class="glyphicon glyphicon-edit"></i>
                {{ 'label.presentation.edit_button'|trans }}
            </a>
        </div>
    </div>

    {{ form_start(delete_form) }}
        <div class="row text-center">
            <a class="btn btn-danger" type="button" onclick="this.parentNode.submit()">
                <i class="glyphicon glyphicon-trash"></i>
                {{ 'label.presentation.delete_button'|trans }}
            </a>
        </div>
    {{ form_end(delete_form) }}

{% endblock %}
