{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
        <nav class="navbar ">
            <ul class="nav navbar-nav">
                <li style="margin: 18px;">
                    <strong>{{'label.advert.your_adverts'|trans}}</strong>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li style="margin: 18px;">
                    <select class="selectpicker">
                        <option>{{'label.odre.date'|trans}}</option>
                        <option>{{'label.odre.traject_time'|trans}}</option>
                        <option>{{'label.odre.price_dec'|trans}}</option>
                        <option>{{'label.odre.price_croi'|trans}}</option>
                    </select>
                </li>
                <li>
                    <a href="{{path('my_adverts',{'mode':'block','page':1, 'numberPerPage':5})}}" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span></a>
                </li>
                <li>
                    <a href="{{path('my_adverts',{'mode':'list','page':1, 'numberPerPage':5})}}" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></a>
                </li>
                
            </ul>
        </nav>
        
        <hr>
        {% if adverts|length == 0 %}
            <p>{{'label.advert.no_advert'|trans}}</p>
        {% else %}
            <p>{{'label.advert.has_advert'|trans}}</p>
        {% endif %}  
        {% if mode == 'block' %}
            {% include 'TravelCarBundle:Default:Advert/Containts/myViewBlock.html.twig' %}
        {% else %}
            {% include 'TravelCarBundle:Default:Advert/Containts/myListView.html.twig' %}
        {% endif %}
    </div>
    </div>

{% endblock %}
