{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'TravelCarBundle' %}

{% block title %} {{'label.advert.your_reservations'|trans}} {% endblock %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar ">
                <ul class="nav navbar-nav">
                    <li style="margin: 18px;">
                        <strong>{{'label.advert.your_reservations'|trans}}</strong>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="{{path('my_reservations',{'mode':'block','page':1, 'numberPerPage':5})}}" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span></a>
                    </li>
                    <li>
                        <a href="{{path('my_reservations',{'mode':'list','page':1, 'numberPerPage':5})}}" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></a>
                    </li>

                </ul>
            </nav>

            <hr>
            {% if reservations|length == 0 %}
                <p>{{'label.advert.no_reservation'|trans}}</p>
            {% else %}
                <p>{{'label.advert.has_reservation'|trans}}</p>
            {% endif %}
            {% if mode == 'block' %}
                {% include 'TravelCarBundle:Default:Advert/Containts/myViewBlockReservations.html.twig' %}
            {% else %}
                {% include 'TravelCarBundle:Default:Advert/Containts/myListViewReservations.html.twig' %}
            {% endif %}
        </div>
    </div>

{% endblock %}
