{% extends "base.html.twig" %}
{% trans_default_domain 'TravelCarBundle' %}

{% block title %} {{ 'label.advert.see_advert'|trans }} {% endblock %}
{% block header_heading %} {{ advert.departureCity }} - {{ advert.cityOfArrival }} {% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div  class="col-md-8">
            {% include 'TravelCarBundle:Default:Advert/Containts/view.html.twig' %}
            <div  class="col-md-12">
                {{ render(controller('TravelCarBundle:Post:renderForm', { 'advertId': advert.id })) }}
            </div>                         
        </div>
        <div class="col-md-4">
            {% if app.user.id is defined and app.user.id != advert.user.id %}
                {% if advert.numberOfPlace %}
                    <div class="col-md-12">
                        {{ render(controller('TravelCarBundle:Reservation:reserveForm', { 'id': advert.id })) }}
                    </div>

                {% else %}
                    <p class="text-danger" > {{'label.advert.full'|trans}} </p>
                {% endif %}
            {% elseif app.user.id is not defined %}
                {% if advert.numberOfPlace %}
                    <div class="col-md-12">
                        {% if alreadyReserve %}
                            {% include 'TravelCarBundle:Default:Reservation/ContaintsUsed/reserve.html.twig' %}
                        {% else %}

                        {% endif %}
                    </div>
                {% else %}
                    <p class="text-danger" > {{'label.advert.full'|trans}} </p>
                {% endif %}
            {% else %}
                <p class="text-danger" >{{'label.advert.addedByYou'|trans}}</p>
            {% endif %}                    
        </div>                     
    </div>
    <div class="col-md-12">
        <div class="col-md-8"> 
            {{ render(controller('TravelCarBundle:Post:view', { 'advertId': advert.id })) }}                                                 
        </div>                  
    </div>
</div>
{% endblock %}

{% block javascripts %}
         <script type="text/javascript">
             $('document').ready(function(){
                 $('#comment').keypress(function(e){
                     if(e.keyCode == 13){
                        $('#comment').parent().submit();
                     }
                 })
             })       
         </script>
{% endblock %}

