{% extends '::baseAdmin.html.twig' %}
{% trans_default_domain 'TravelCarBundle' %}
{% block title %}{{ 'label.menu.adverts'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'label.menu.adverts'|trans }}</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'label.city.departure'|trans }}</th>
            <th>{{ 'label.city.arrival'|trans }}</th>
            <th>{{ 'label.panel.date'|trans }}</th>
            <th>{{ 'label.panel.time'|trans }}</th>
            <th>{{ 'label.advert.price'|trans }}</th>
            <th>{{ 'label.advert.nb_places'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% if adverts is not empty %}
            {% for advert in adverts %}
                <tr>
                    <td>{{ advert.departureCity }}</td>
                    <td>{{ advert.cityOfArrival }}</td>
                    <td>{{ advert.departureDate.format("d/m/Y") }}</td>
                    <td>{{ advert.departureTime|date('h:m') }}</td>
                    <td>{{ advert.pricePerPersonne }}€</td>
                    <td>{{ advert.numberOfPlace }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_advert', {'id':advert.id}) }}">{{ 'label.show'|trans }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}