{% trans_default_domain 'TravelCarBundle' %}
{% extends "@FOSUser/layout.html.twig" %}
{% block title %} {{ 'label.menu.edit'|trans }} {% endblock %}
{% block header_heading %} {{ 'label.menu.edit'|trans }} {% endblock %}

{% block fos_user_content %}
    <div class="col-md-12">
        <div class="col-md-6">
            <a class="btn btn-xs btn-primary" href="{{ path('fos_user_profile_edit') }}">{{ 'label.menu.edit'|trans }}</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-xs btn-danger" href="{{ path('fos_user_profile_edit') }}">{{ 'label.menu.change_pwd'|trans }}</a>
        </div>
    </div>

{% endblock %}