{% trans_default_domain 'TravelCarBundle' %}
{% extends "@FOSUser/layout.html.twig" %}
{% block title %} {{ 'label.menu.edit'|trans }} {% endblock %}
{% block header_heading %} {{ 'label.menu.edit'|trans }} {% endblock %}

{% block fos_user_content %}
    <a href="{{ path('fos_user_profile_edit') }}">{{ 'label.menu.edit'|trans }}</a>
    <br>
    <a href="{{ path('fos_user_profile_edit') }}">{{ 'label.menu.change_pwd'|trans }}</a>
{% endblock %}