{% trans_default_domain 'TravelCarBundle' %}

{% if reserved is defined and reserved == 1 %}
    <h5> {{ 'label.presentation.wanna_cancel'|trans }}</h5>
    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">{{ 'label.presentation.cancel'|trans }}</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'label.advert.cancel_reservation'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'label.advert.are_you_sure_cancel'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            {{ form_start(formReserved) }}
                                <input type="submit" class="btn btn-danger" value="{{ 'label.presentation.cancel'|trans }}">
                            {{ form_end(formReserved) }}
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'label.presentation.back_to_list'|trans }}</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% else %}

<h3>{{'label.presentation.reservation'|trans}}</h3>
<p>{{'label.presentation.nb_reservation'|trans}}</p>
<form role="form" action='{{path('add_reservation')}}' method='POST'>
    <div class='form-group'>
        <div class="form-group">
            <input type="number" name='advertId' class='form-control hidden' value="{{ advert.id }}"  required >
        </div>
        <div class="form-group">
            <label>{{'label.presentation.select_nb_places'|trans}}</label>
            <input type="number" name='nbOfReservation' class='form-control' placeholder="{{'label.presentation.example_reservation'|trans}} : 2" required >
            {% for flashMessage in app.session.flashbag.get('notice') %}

                <span class="text-danger"><small>{{ flashMessage }}</small></span>

            {% endfor %}
        </div>
        <button type="submit" class="btn">{{'label.presentation.reservation'|trans}}</button>
    </div>
</form>

{% endif %}