{%trans_default_domain 'TravelCarBundle'%}

    <!-- Page Header -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class="page-header">{{ 'label.rss.news'|trans }}
                <small> {{ 'label.rss.by_le_monde'|trans }}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        {%  for i in 0..2 %}
            <div class="col-md-4 portfolio-item">
                <a href= {{ items[i].link }} >
                    <img class="img-responsive" src= {{ items[i].enclosure }} alt="">
                </a>
                <strong>
                    <a href=    {{ items[i].link }} > {{  items[i].title[:45] ~ '...' }} </a>
                </strong>
                <p> {{ items[i].description[:50] ~ '...' }} </p>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->

    <hr>
