{%trans_default_domain 'TravelCarBundle'%}
<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'label.rss.news'|trans }}
                <small> {{ 'label.rss.by_le_monde'|trans }}</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        {%  for i in 0..2 %}
        <div class="col-md-4 portfolio-item">
            <a href= {{ items[i].link }} >
                <img class="img-responsive" src= {{ items[i].enclosure }} alt="">
            </a>
            <strong>
                <a href="#"> {{ items[i].title[:45] ~ '...' }} </a>
            </strong>
            <p> {{ items[i].description[:50] ~ '...' }} </p>
        </div>
            {#
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Project Name</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Project Name</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        #}
        {% endfor %}
    </div>
    <!-- /.row -->

    <hr>
