{% trans_default_domain 'TravelCarBundle' %}

<div class="thumbnail">
    <div class="row">
        <div class="col-md-8">
            <h3>{{ advert.departureCity }} <small><span class="glyphicon glyphicon-arrow-right"></span></small> {{ advert.cityOfArrival }}</h3>
        </div>
        <div class="col-md-4">
                <h2>{{ advert.user.name }}</h2>
        </div>
    </div>
    <hr/>
    <hr/>
    <h3> <i class="fa fa-map-signs text-primary" aria-hidden="true"></i>{{'text.route'|trans}}</h3>
    <hr/>
    <div class="">
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.departureCity'|trans}}</small>
            </div>
            <div class="col-md-8">
                <small><span class="glyphicon glyphicon-record text-primary"></span> RDV à {{ advert.departureCity }} </small>
            </div>    
        </div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.cityOfArrival'|trans}}</small>
            </div>
            <div class="col-md-8">
                <small><span class="glyphicon glyphicon-record text-danger"></span> {{ advert.cityOfArrival }} </small>
            </div>    
        </div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.departureDate'|trans}}</small>
            </div>
            <div class="col-md-8">
                <small > <span class="glyphicon glyphicon-calendar text-primary"></span> {{ advert.departureDate.format('d/m/Y') }} à {{ advert.departureTime }} </small>
            </div>    
        </div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.travelTime'|trans}}</small>
            </div>
            <div class="col-md-8">
                <small>{{ advert.travelTime.format('h:m') }}</small>
            </div>    
        </div>
    </div>
    <h3> <i class="fa fa-car text-danger" aria-hidden="true"></i> {{'text.vehicle'|trans}}</h3>
    <hr/>
    <div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.model'|trans}}</small>
            </div>
            <div class="col-md-8">
                <small>{{ advert.vehicle.model }}</small>
            </div>    
        </div>
        <div class="row" >
            <div class="col-md-4">
                <small>{{'text.color'|trans}}</small>
            </div>
            <div class="col-md-8">
                <small>{{ advert.vehicle.color }}</small>
            </div>    
        </div>
    </div>
</div>
<div class="thumbnail">
    <h3>{{'text.askAQuestion'|trans}}</h3>
    <hr/>

    <div id='zone_commentaire' class='form-group'>
        <form id="form_comment" action='#' method='post'>
            {%if comment is defined %}
                {%if comment == 1 %}
                    <textarea name="comment" class="form-control" rows="5" id="comment"></textarea> 
                {% else%}
                    <textarea placeholder="commentaire incorrect" name="comment" class="form-control" rows="5" id="comment"></textarea>
                {%endif%}
            {% else%}
                <textarea name="comment" class="form-control" rows="5" id="comment"></textarea>
            {%endif%}

        </form>
    </div>
</div>