{% trans_default_domain 'TravelCarBundle' %}
{{ form_start(form) }}

<div class="tab-content">
    <div id="itineraire" class="tab-pane active">
        <div class="panel panel-default">
            <div class="panel-heading">{{'label.panel.route'|trans}}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>{{'label.city.departure'|trans}}</label>
                        {{ form_widget(form.departureCity, {'attr': {'class':'city', 'placeholder': 'label.advert.example_departure'|trans } }) }}
                        {{form_errors(form.departureCity)}}
                    </div>
                    <div class="form-group">
                        <label>{{'label.city.arrival'|trans}}</label>
                        {{ form_widget(form.cityOfArrival, {'attr': {'class':'city', 'placeholder': 'label.advert.example_arrival'|trans } }) }}
                        {{form_errors(form.cityOfArrival)}}
                    </div>
                    
                </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">{{'label.panel.time'|trans}}</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>{{'label.advert.time'|trans}}</label>
                        {{ form_widget(form.departureDate, {'attr':{'class':'dateTimePicker', 'placeholder' : date().format('d/m/Y h:m') } }) }}
                        {{form_errors(form.departureDate)}}
                    </div>
                    <div class="form-group">
                        <label>{{'label.advert.travel_time'|trans}}</label>
                        {{ form_widget(form.travelTime, {'attr':{'class':'timePicker'} }) }}
                        {{form_errors(form.travelTime)}}
                    </div>
                </div>      
        </div>
        <button class="btn btn-default versAnnonce" >Suivant</button>
    </div>
    <div id="annonce" class="tab-pane">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"> {{'label.advert.info'|trans}} </h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
                <label>{{'label.advert.price'|trans}}</label>
                    {{ form_widget(form.pricePerPersonne, {'attr': {'placeholder': 'label.advert.example_price'|trans } }) }}
                    {{ form_errors(form.pricePerPersonne) }}
                </div>
                <div class="form-group">
                    <label>{{'label.advert.nb_places'|trans}}</label>
                    {{ form_widget(form.numberOfPlace, {'attr': {'placeholder': 'label.advert.example_nb_places'|trans } }) }}
                    {{ form_errors(form.numberOfPlace) }}
                </div>
              <div class="form-group">
                  <label>{{'label.advert.luggage'|trans}}</label>
                  {{ form_widget(form.luggage) }}
                  {{ form_errors(form.luggage) }}
              </div>
              <div class="form-group">
                  <label>{{'label.advert.highway'|trans}}</label>
                  {{ form_widget(form.highway) }}
                  {{ form_errors(form.highway) }}
              </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"> {{'label.advert.more_info'|trans}} </h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
                <label for="more"> {{'label.advert.more'|trans}} </label>
                <textarea class="form-control" name="more"></textarea>
            </div>
          </div>
        </div>
        <button class="btn btn-default versPoster" >{{'label.panel.btn_next'|trans}} </button>
    </div>
    <div id="poster" class="tab-pane">
        <h3>Column title</h3> 
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <input type="submit" class="btn btn-primary" value={{'label.panel.submit'|trans}} >
    </div>
</div>

{{ form_end(form) }}
   
