{% trans_default_domain 'TravelCarBundle' %}

{% if adverts is not empty %}
    <div class="list-group">
    {% for advert in adverts %}
        <a href="{{path('view_advert', {'id':advert.id})}}" class="list-group-item">
            <div class="row">
                <div  class="col-md-3">
                    <small class="list-group-item-heading"> {{ advert.user.name }} {{ advert.user.lastName }}</small>
                </div>
                <div style="border-left: solid; border-width: 0.5px;" class="col-md-7">
                        <h4 class="list-group-item-heading">

                            {% if advert.departureDate.format("d/m/Y") == 'now'| date("d/m/Y") %}

                                {{'label.presentation.today_at'|trans}} {{ advert.departureTime }} </h4>

                            {% elseif advert.departureDate.format("d/m/Y") == date().modify('+1 day').format("d/m/Y") %}

                                {{'label.presentation.tomorrow_at'|trans}} {{ advert.departureTime}} </h4>

                            {% else %}    
                                {{ advert.departureDate|date('d/m/Y')}} {{'label.presentation.at'|trans}} {{ advert.departureTime|date('h:m') }}</h4>
                            {% endif %}

                        <small class="list-group-item-text">{{ advert.departureCity }} <span class="glyphicon glyphicon-arrow-right "></span> {{ advert.cityOfArrival }}</small>
                        <br/>
                        <small><span class="glyphicon glyphicon-record text-primary"></span> RDV {{'label.presentation.at'|trans}} {{ advert.departureCity }} </small>
                        <br/>
                        <small><span class="glyphicon glyphicon-record text-danger"></span> {{ advert.cityOfArrival }} </small>
                </div>
                <div class="col-md-2">
                    <small class="list-group-item-heading pull-right"> {{ advert.pricePerPersonne}} <span class="glyphicon glyphicon-eur"/></small>
                    <small class="list-group-item-heading pull-right"> {{ advert.numberOfPlace}} {{'label.presentation.places_available'|trans}}</small>
                </div>
            </div>
        </a>

    {% endfor %}
    </div>
    <ul class="pagination"></ul>
{% else %}
        <div class="form form-group">
             {{'label.advert.no_advert_found'|trans}}
        </div>
{% endif %}

<ul class="pagination">
    {% if numberPage > 1 %}
        {% for p in range(1, numberPage) %}
            <li{% if p == page %} class="active" {% endif %}>
                <a href="{{path('my_adverts', {'page':p})}}"> {{ p }} </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>