{% trans_default_domain 'TravelCarBundle' %}

{% if adverts is not empty %}
    <div class="list-group">
    {% for advert in adverts %}
        <a href="{{path('view_advert', {'id':advert.id})}}" class="list-group-item">
            <div class="row">
                <div style="border-left: solid; border-width: 0.5px;" class="col-md-9">
                        <h4 class="list-group-item-heading">

                            {% if advert.departureDate.format("d/m/Y") == 'now'| date("d/m/Y") %}

                                Aujourd'hui à {{ advert.departureTime }} </h4>

                            {% elseif advert.departureDate.format("d/m/Y") == date().modify('+1 day').format("d/m/Y") %}

                                Demain à {{ advert.departureTime}} </h4>

                            {% else %}    
                                {{ advert.departureDate|date('d/m/Y')}} à {{ advert.departureTime}}</h4>
                            {% endif %}

                        <small class="list-group-item-text">{{ advert.departureCity }} <span class="glyphicon glyphicon-arrow-right "></span> {{ advert.cityOfArrival }}</small>
                        <br/>
                        <small><span class="glyphicon glyphicon-record text-primary"></span> RDV à {{ advert.departureCity }} </small>
                        <br/>
                        <small><span class="glyphicon glyphicon-record text-danger"></span> {{ advert.cityOfArrival }} </small>
                </div>
                <div class="col-md-3">
                    {% if advert.departureDate > date("now") %}
                        <p><span class="glyphicon glyphicon-user text-primary"></span> {{ advert.numberOfPlace - advert.numberOfReservation }} places disponibles.</p>
                        <p><span class="glyphicon glyphicon-time text-primary"></span> Voyage à venir. </p>
                    {% else %}
                        <p><span class="glyphicon glyphicon-user text-primary"></span>  {{ advert.numberOfReservation }} {% if advert.numberOfReservation<2 %} reservation {% else %} reservations {% endif %}.</p>
                        <p><span class="glyphicon glyphicon-ok text-success"></span> Voyage effectué.</p>
                    {% endif %}
                </div>
            </div>
        </a>

    {% endfor %}
    </div>
    <ul class="pagination"></ul>
{% else %}
        <div class="form form-group">
            Pas de réponse
        </div>
{% endif %}

<ul class="pagination">
    {% if numberPage > 1 %}
        {% for p in range(1, numberPage) %}
            <li{% if p == page %} class="active" {% endif %}>
                <a href="{{path('my_adverts', {'mode':mode,'page':p, 'numberPerPage':numberPage})}}"> {{ p }} </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
