{% trans_default_domain 'TravelCarBundle' %}
<div class="col-md-12">
    <div class="col-md-12">
        <h3><span class="fa fa-map-signs text-primary"></span> {{'label.advert.info_route'|trans}}</h3>
        <hr>
        <div class="col-md-12">
            <div class="col-md-4">
                <p>{{'label.city.departure'|trans}}</p> 
            </div>
            <div class="col-md-8">
                <p><span class="glyphicon glyphicon-record text-primary"></span> RDV {{'label.presentation.at'|trans}} {{ advert.departureCity }}</p>
            </div>                                     
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <p>{{'label.city.arrival'|trans}}</p>
            </div>
            <div class="col-md-8">
                <p><span class="glyphicon glyphicon-record text-danger"></span> {{ advert.cityOfArrival }}</p>
            </div>                                     
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <p>{{'label.panel.time'|trans}}</p> 
            </div>
            <div class="col-md-8">
                <p><span class="glyphicon glyphicon-calendar text-primary"></span> {{ advert.departureDate|date('d/m/Y') }} {{'label.presentation.at'|trans}} {{ advert.departureTime|date('h:m') }}</p>
            </div>                                     
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <p>{{'label.advert.travel_time'|trans}}</p> 
            </div>
            <div class="col-md-8">
                <p>{{ advert.travelTime.format('h : m') }}</p>
            </div>                                     
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <p>{{'label.advert.nb_places_available'|trans}}</p> 
            </div>
            <div class="col-md-8">
                <p>{{ advert.numberOfPlace - advert.numberOfReservation }}</p>
            </div>                                     
        </div>
        {% if advert.luggage is not empty %}
        <div class="col-md-12">
            <div class="col-md-4">
                <p>{{'label.advert.luggage'|trans}}</p>
            </div>
            <div class="col-md-8">
                <p>{{ advert.luggage }}</p>
            </div>
        </div>
        {% endif %}
        <div class="col-md-12">
            <div class="col-md-4">
                <p>{{'label.advert.highway'|trans}}</p>
            </div>
            <div class="col-md-8">
                <p>{% if advert.highway is not empty and  advert.highway == true %} {{ 'label.yes'|trans }} {% else %} {{ 'label.no'|trans }} {% endif %}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <h3>{{advert.user.name}} {{advert.user.lastName}}</h3> 
    <p> {{ advert.detail }} </p> 
</div>